################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Super_Bowl_Project/Super_Bowl_Project/obj/Debug
*.suo
